.populares {
    padding: 3rem 0;
}

.populares__conteudo {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0rem;
}

.populares__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 173px auto;
    margin-right: 1rem;
    width: calc(20% - 1rem);
}

.populares__card___imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}

.populares__card___corpo {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas: 
        "card-cabecalho"
        "card-conteudo";
    grid-template-rows: 50px auto;
    padding: .75rem;
}